<h1>Games Index</h1>
<br>
<br>
<div class="switchdrop"> 
<button class="dropbtn_1">Nintendo Switch Games </button>

<div class="switch"><% @games.each do |game| %>
    <% if game.system.name == "Nintendo Switch" %>
        <a href="/games/<%= game.id %>"><%= game.title %> </a>
        <% end %>
    <% end %></div> </div>
<br>
<br>
<br>

<div class="three_dsdrop"> 
<button class="dropbtn_2">Nintendo 3DS Games </button>

<div class="three_ds"><% @games.each do |game| %>
    <% if game.system.name == "Nintendo 3DS" %>
        <a href="/games/<%= game.id %>"><%= game.title %> </a>
        <% end %>
    <% end %></div></div>
<br>
<br>

<div class="xbox_onedrop"> 
<button class="dropbtn_3">Xbox One Games </button>

<div class="xbox_one"><% @games.each do |game| %>
    <% if game.system.name == "Xbox One" %>
        <a href="/games/<%= game.id %>"><%= game.title %> </a>
        <% end %>
    <% end %></div></div>
<br>
<br>
<div class="ps_fourdrop">
<button class="dropbtn_4"> Playstation 4 Games </button>

<div class="ps_four"><% @games.each do |game| %>
    <% if game.system.name == "Playstation 4" %>
        <a href="/games/<%= game.id %>"><%= game.title %> </a>
        <% end %>
    <% end %></div></div>
    <br>
    <br>
   
    <div class="create"><a href="/games/new"> Add a Game to the Database </a></div> 
    <div class="gohome"><a href="/users/account"> Go back to your Profile </a></div>
   